<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.css"> 
</head>
<body>
<div class="container">
		<h1>BOARD DETAIL</h1>
		<table class="table table-striped table-hover">
			<tr>
				<td>번호 :<input th:value="${board.boardNo}" type="text" name="boardNo"  readonly></td>
			<tr>
			
			<tr>
				<td>제목 : <input th:value="${board.boardTitle}" type="text" name="boardTitle" readonly></td>
			<tr>
			<tr>	
				<td>내용 : <input th:value="${board.boardContent}" type="text" name="boardContent" readonly></td>
			<tr>	
				<td>사용자 : <input th:value="${board.boardUser}" type="text" name="boardUser" readonly></td>
			<tr>
			<tr>
				<td>날짜 : <input th:value="${board.boardDate}" type="text" name="boardDate" readonly></td>
			<tr>	
			
			
		</table>
		<a th:href="@{/modifyBoard(boardNo=${board.boardNo})}" class="btn btn-success">수정</a>
		<a th:href="@{/removeBoard(boardNo=${board.boardNo})}" class="btn btn-success">삭제</a>
		<span><a href="boardList">돌아가기</a></span>
</div>
</body> 
</html>



