<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<link rel="stylesheet" href="/css/bootstrap.css"> 
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
/* 	$(document).ready(()=>{
		
		
		
		$('boardAddBtn').click(()=>{
			if(isNaN($('#boardPw').val())){
				$('#pwHelper').text('pw는 숫자만 입력');
				$('#boardPw').focus();
			}else if($('boardPw').val().length<2){
				$('#pwHelper').text('pw는 두글자 이상 입력');
				$('#boardPw').focus();
				
			}else {
				$('#pwHelper').text('');
				$('#boardAddForm').submit();
			}
		})
		
	} */
	
	
	</script>
	</head>
	<body>
	<div class="container">
	<h1>BOARD ADD</h1>
	
		<form action="/boardAdd" method="post" >

				<table  class="table table-striped table-hover">
				<tr>
					<th>비밀번호</th>
					<td><input id="boardPw" name="boardPw" /></td>
				</tr>	
				<tr>
					<th>제목</th>
					<td><input id="boardTitle" name="boardTitle"/></td>
				</tr>	
				<tr>
					<th>내용</th>
					<td><input id="boardContent" name="boardContent" /></td>
				</tr>
				<tr>
					<th>사용자</th>
					<td><input id="boardUser" name="boardUser" /></td>
				</tr>
				</table>
				<input type="submit" value="등록" id="boardAddBtn" class="btn btn-success"/>
				<span><a href="boardList">돌아가기</a></span>
		</form>
	</div>
	</body>

</html>