<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<link rel="stylesheet" href="/css/bootstrap.css"> 
	<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<!-- Plugin CSS -->
<link rel="stylesheet" href="device-mockups/device-mockups.min.css">

<!-- Custom styles for this template -->
<link href="css/new-age.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>

	 $(document).ready(function(){
	        $('#boardAddBtn').click(function(){
	        	$('#boardAddForm').submit(function(event){
	        		if($('#boardPw').val().length<1){
		            	$('#boardPw').attr('placeholder','비밀번호를 입력해주세요');
		            	$('#boardPw').focus();
		            	return false;
		            }else if($('#boardTitle').val().length<1){
		            	$('#boardTitle').attr('placeholder','제목을 입력해주세요');
		            	$('#boardTitle').focus();
		            	return false;
		            }else if($('#boardContent').val().length<1){
		            	$('#boardContent').attr('placeholder','내용을 입력해주세요');
		            	$('#boardContent').focus();
		            	return false;
		            }else if($('#boardUser').val().length<1){
		            	$('#boardUser').attr('placeholder','사용자를 입력해주세요');
		            	$('#boardUser').focus();
		            	return false;
		            }
	        	});
	        });
	    });
	
	</script>
	</head>
	<body>
	<header class="masthead">
	<div class="container">
	<h1>BOARD ADD</h1>
	
		<form action="/boardAdd" method="post" id="boardAddForm">

				<table  class="table table-hover text-white">
				<tr>
					<th>제목</th>
					<td><input id="boardTitle" name="boardTitle"/></td>
				</tr>	
				<tr>
					<th>비밀번호</th>
					<td><input id="boardPw" name="boardPw" /></td>
				</tr>	
				<tr>
					<th>내용</th>
					<td><textarea id="boardContent" name="boardContent" rows=10 cols=50></textarea></td>
				</tr>
				<tr>
					<th>사용자</th>
					<td><input id="boardUser" name="boardUser" /></td>
				</tr>
				<tr>
					<th>파일 업로드</th>
					<td><input type="file" name="files"></td>
				</tr>
				</table>
				<input type="submit" value="등록" id="boardAddBtn" class="btn btn-outline btn-xl js-scroll-trigger"/>
				<span><a href="boardList">돌아가기</a></span>
		</form>
	</div>
	</header>
	</body>

</html>