<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.css"> 
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<!-- Plugin CSS -->
<link rel="stylesheet" href="device-mockups/device-mockups.min.css">

<!-- Custom styles for this template -->
<link href="css/new-age.min.css" rel="stylesheet">
</head>
<body>
<header class="masthead">
<div class="container">
		<h1>BOARD DETAIL</h1>
		<table class="table table-striped table-hover">
			<tr>
				<td>번호 : <th:block th:text="${board.boardNo}" name="boardNo"  readonly></th:block></td>
			<tr>
			
			<tr>
				<td>제목 : <th:block th:text="${board.boardTitle}" name="boardTitle" readonly></th:block></td>
			<tr>
			<tr>	
				<td>내용 : <th:block th:text="${board.boardContent}" name="boardContent" readonly></th:block></td>
			<tr>
			<tr>	
				<td>사용자 : <th:block th:text="${board.boardUser}" name="boardUser" readonly></th:block></td>
			<tr>
			<tr>
				<td>날짜 : <th:block th:text="${board.boardDate}" name="boardDate" readonly></th:block></td>
			</tr>	
			
			
		</table>
		<a th:href="@{/modifyBoard(boardNo=${board.boardNo})}" class="btn btn-outline btn-xl js-scroll-trigger">수정</a>
		<a th:href="@{/removeBoard(boardNo=${board.boardNo})}" class="btn btn-outline btn-xl js-scroll-trigger">삭제</a>
		<span><a href="boardList">돌아가기</a></span>
</div>
</header>	
</body> 
</html>



