<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<h1>BOARD LIST</h1>



	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>boardNo</th>
				<th>boardTitle</th>
				<th>boardUser</th>
				<th>boardDate</th>

			</tr>
		</thead>


		<tr th:each="b : ${map.get('list')}">
			<td th:text="${b.boardNo}"></td>
			<td>
				<a th:href="@{/boardDetail(boardNo=${b.boardNo}, currentPage=${currentPage})}"> 
				<th:block th:text="${b.boardTitle}"></th:block>
				</a>
			</td>
			<td th:text="${b.boardUser}"></td>
			<td th:text="${b.boardDate}"></td>
			
			
		</tr>


	</table>
	
	
	<form>
		<tr>
			<td th:if="${currentPage > 1}">
			<a th:href="@{/boardList(currentPage=1)}">[처음]</a>
			<a th:href="@{/boardList(currentPage=${currentPage - 1})}">이전</a>
			</td>
			<td th:if="${currentPage < map.lastPage}">
			<a th:href="@{/boardList(currentPage=${currentPage + 1})}">다음</a>
			<a th:href="@{/boardList(currentPage=${map.lastPage})}">[끝]</a>
			</td>
		</tr>
	</form>
	<span><a href="boardAdd" class="btn btn-success">게시글 입력</a></span>
	</div>
	

</body>
</html>
