<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.css"> 
</head>
<body>
<div class="container">
	<h1>MODIFY BOARD</h1>
	<form action="/modifyBoard" method="post">
		<table class="table table-striped table-hover">
			<tr>
				<td>번호 :<input th:value="${board.boardNo}" type="text" name="boardNo"  readonly></td>
			<tr>
			<tr>
				<td>제목 : <input th:value="${board.boardTitle}" type="text" name="boardTitle" ></td>
			<tr>
			<tr>	
				<td>내용 : <input th:value="${board.boardContent}" type="text" name="boardContent" ></td>
			<tr>	
				<td>사용자 : <input th:value="${board.boardUser}" type="text" name="boardUser" ></td>
			<tr>
			<tr>
				<td>날짜 : <input th:value="${board.boardDate}" type="text" name="boardDate" readonly></td>
			<tr>	
			
			<td>비밀번호 : <input type="text" name="boardPw"></td>
				
			
		</table>
	<td><input type="submit" value="수정하기" class="btn btn-success"></td>
	<a th:href="@{/boardDetail(boardNo=${board.boardNo}, currentPage=${currentPage})}" >돌아가기</a>
	</form> 
</div>
</body> 
</html>



