<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.css"> 

</head>
<body>
<div class="container">
	<h1>REMOVE BOARD</h1>
	<form action="/removeBoard" method="post" >
		<table class="table table-striped table-hover">
		
			<tr th:each="b : ${board}">
				<tr>
					<td>비밀번호 : <input type="text" name="boardPw"></td>
				<tr>
				<td><input type="submit" value="삭제하기" class="btn btn-success"></td>
			</tr>
		</table>
	</form> 
</div>
</body> 
</html>



